/* Navigation bar */

nav {
  display: flex;
  background-color: #f9d29d;
  /* #fffe7a; */
  color: #6a93cb;
  border-radius: 20px 20px 0 0;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}
label {
  color: white;
}
