/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: white;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  color: white;
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */

.story-link {
  color: white;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}
.star {
  cursor: pointer;
}

/* #story-links {
  cursor: pointer;
} */
